* {
    box-sizing: border-box;
}

.search {
    height: 50px;
    padding: 10px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    width: 100%;
}

.search input {
    flex-grow: 2;
    border: none;
    height: 35px;
    border-radius: 20px;
    outline: none;
    font-size: 1rem;
    margin-left: 10px;
}

.searchcontainer {
    display: flex;
    flex-shrink: row;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    height: 35px;
    padding: 10px;
}
