.topsection {
    display: flex;
    flex-direction: row;
    background-color: #ededed;
    padding: 10px;
}

.avtar {
    margin-bottom: 5px;
    margin-top: 5px;
}

.avtarsection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.topsection .text {
    margin: 0;
    padding: 0;
    margin-left: 15px;
}

.namebox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.avtarsection .namebox .name {
    margin: 0;
    padding: 10px;
    font-size: 25px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.description {
    background-color: white;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.description .desbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description .text {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: green;
}

.description .actualdes {
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

.container {
    background-color: #ededed;
}

.members {
    flex-grow: 2;
    background-color: white;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    max-height: 700px;
    scrollbar-width: none;
    cursor: pointer;
}

.member:hover {
    background-color: #ededf1;
}

.members::-webkit-scrollbar {
    width: 8px;
}

.members::-webkit-scrollbar-thumb {
    background-color: rgb(196, 194, 194);
}

.member {
    display: flex;
    padding: 13px;
    flex-direction: row;
    align-items: center;
}

.member .meminfo {
    margin-left: 15px;
}

.admin {
    margin-left: auto;
    border: 2px solid lightgreen;
    color: lightgreen;
    padding: 5px;
    font-size: 14px;
}

.participant {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.partname {
    margin-left: 16px;
    font-size: 20px;
}
